<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<ul>
  <% @questions.each do |question| %>
    <li>
      <p>
      	Question: "<%= question.question %>"
      </p>
      Asked by: <%= question.user.email %>
    </li>
  <% end %>
</ul>

<%= link_to 'Ask New Question', new_event_question_path(@event) %> |
<%= link_to 'Back', events_path %>
